@model IEnumerable<Product>

<div class="row p-3">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card p-3 border-0 shadow border-top border-5 rounded">
                        <img src="@product.ImgURL" width="100%" class="rounded" />
                        <div class="card-body pg-0 ">
                            <div class="pl-1">
                                <p class="card-title text-dark h8 opacity-75 text-uppercase text-center">@product.Title</p>
                                <p class="card-title text-secondary  text-center">by @product.Author</p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark h8 opacity-75 text-center m-0">As low as: <span class="text-decoration-line-through">@product.ListPrice.ToString("c")</span></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark h8 opacity-75 text-center">Price: <span>@product.Price100.ToString("c")</span></p>
                            </div>
                            <div class="pl-1 row-1">
                                <div class="col-5">
                                    <a asp-action="Details" 
                                    asp-route-productId="@product.Id"
                                    class="btn btn-secondary border-0 text-white form-control">
                                        Details
                                    </a>
                                </div>
                                @* <div class="col-7">
                                    <a asp-controller="Product" asp-action="Index" class="btn btn-success border-1 text-white form-control">
                                        Add to Cart
                                    </a>
                                </div> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
